/* body{
	background-color: lightcoral;
} */

ol, ul {
	list-style: none;
	/* gets rid of bullets next to chat boxes */
}

.topBar {
	display: flex;
	flex-direction: row;
	background-color: rgb(41, 41, 41);
	height: 5vh;
	align-items: center;
}

.centerTitle {
	color: #bbe5ed;
	padding-left: 30vw;
	width: 20vw;
	text-align: center;
	margin: 0;
	font-size: 2.5vw;
}

.menuBtn {
	width: 5vh;
	height: 5vh;
	padding: 0px;
}

.menuBtn>img{
	background-color: rgba(255, 255, 255, 0);
	width: 5vh;
	height: 5vh;

}

.block--background{
	display: flex;
	flex-wrap: wrap;
	/* width: 90vw;
	height: 90vw; */
	/* background-color: lightslategray; */
	justify-content: center;
}

.chatbot__overview {
	border: 2px solid #bbe5ed;
	background-color: rgb(41, 41, 41);
	border-radius: 20px;
	display: flex;
	flex-flow: row nowrap;
	width: 80vw;
	height: 80vw;
	margin-top: 1vh;;
	/* align-content: space-between; */
	/* margin: 10px; */
	/* padding: 1em;
	padding-bottom: 0; */
	/* background-color: #a03c3c; */
}


/* all chat bubbles have this */
.chatlist .userInput, .chatlist .bot__output {
	padding: 0.85em;
	margin: 0.5em;
	max-width: 100%;
	background-color: #fff;
	border-radius: 5px;
}

.chatlist {
	font-family: inherit;
	font-size: 1em;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	overflow-x: hidden;
	width: 100vw;
	max-height: 80vh;
	margin-left: -40px;
	/* ^^ because chats are a ul, there was a weird indent here */
}

/* special txt style for commands */
/* .chatlist .bot__command {
	color: #156064;
	width: min-content;
	font-weight: 600;
	uses span in txt but I don't like how it looks 
} */

/* USER INPUT */
.chatlist .userInput {
	text-transform: lowercase;
	border-top: 6px solid #156064;
	opacity: 0;
	animation-name: animateBubbleRight;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

.userInput:before {
	/* adds little triangle at bottom of bubble */
	content: "";
	width: 0px;
	height: 0px;
	position: fixed;
	border-left: 8px solid transparent;
	border-right: 10px solid #fff;
	border-top: 10px solid #fff;
	border-bottom: 8px solid transparent;
	right: 10px;
	bottom: -12px;
  }

/* BOTS ANSWERS */
.chatlist .bot__output {
	align-self: flex-start;
	/* flex-wrap: wrap; */
	/* box-shadow: -1px 1px 10px rgb(255, 255, 255); */
	border-top: 6px solid #f79256;
	will-change: auto;
	height: auto;
	animation-name: animateBubbleLeft;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	opacity: 0;

}

.bot__output:before {
	/* adds little triangle at bottom of bubble */
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #fff;
	border-right: 8px solid transparent;
	border-top: 10px solid #fff;
	border-bottom: 8px solid transparent;
	left: 10px;
	bottom: -12px;
  }

  /* delays annimation for each line of chat */
 .chatlist .bot__output:nth-child(1) {
	animation-delay: 600ms;
	animation-play-state: running;
}
.chatlist .bot__output:nth-child(2) {
	animation-delay: 1200ms;
	animation-play-state: running;
}
.chatlist .bot__output--standard:last-child {
	display: block;
}
.chatlist .bot__output--failed {
	display: block !important;
}
.chatlist .bot__output--second-sentence {
	display: block;
}

  /* dops down the chat boxes one by one */
 @keyframes animateBubbleLeft {
	0% {
		/* Y comes from top and X from sides */
		/* transform: translateY(-50%); */
		
		transform: translateX(-50%);
		opacity: 0;
   }
	100% {
		transform: translateY(0);
		opacity: 1;
   }
}

@keyframes animateBubbleRight {
	0% {
		/* Y comes from top and X from sides */
		/* transform: translateY(-50%); */
		
		transform: translateX(50%);
		opacity: 0;
   }
	100% {
		transform: translateY(0);
		opacity: 1;
   }
}

#chatform{
	/* background-color: lightyellow; */
	margin-top: 1vh;
	display: flex;
	justify-content: center;
	width: 80vw;
}

/* .chatbox-area {
	margin: 0 auto;
	bottom: 0;
	height: 10vh;
	width: 100vw;
} */

textarea[name="chatbox"] {
	flex-grow: 5;
	border: 2px solid #bbe5ed;
	background-color: transparent;
	color: rgb(0, 0, 0);
	height: 3em;
	margin: 0;
	padding: 0.75em;
	border-radius: 8px 0px 0px 8px;
	font-family: inherit;
	font-size: 1em;
}
textarea[name="chatbox"]:focus {
	outline: none;
	border: 2px solid #414f52;
}

input[type="submit"] {
	flex-grow: 1;
	appearance: none;
	border: 0;
	width: 25%;
	margin: 0;
	background-color: rgb(41, 41, 41);
	color: #fff;
	border-left: 0;
	border-radius: 0 10px 10px 0;
	font-family: inherit;
	font-size: 1em;
	transition: 200ms all ease-in;
}
input[type="submit"]:hover {
	background-color: #414f52;;
	border-color: #fff;
	color: #fff;
}
